html {
	scroll-behavior: smooth;
}
.App {
	text-align: center;
	background-color: #282c34;
	height: 100vh;
}
.header {
	background-color: #282c34;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.latestEpisode {
	position: absolute;
	left: 70%;
	top: 25%;
	z-index: 1;
}
.randomEpisode {
	position: absolute;
	left: 10%;
	top: 25%;
	z-index: 1;
}
.bgContainer {
	height: 100vh;
}
